﻿.get-more {
    text-align: center;
}

.ghost-button {
    color: #009688;
    background: #fff;
    border: 1px solid #009688;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    display: inline-block;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
}

    .ghost-button:hover, .ghost-button:active {
        color: #fff;
        background: #009688;
    }

.partners {
    text-align: center;
    position: relative;
}

    .partners .el {
        display: inline-block;
        vertical-align: middle;
        width: 300px;
    }


#footer {
    margin-top: 50px;
}

.loader {
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.59) url("/Content/images/loader.GIF") no-repeat scroll center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}

.mb-40 {
    margin-bottom: 40px;
}

.width-100 {
    width: 100% !important;
}

.faq-options {
    font-size: 16pt;
    cursor: pointer;
}



.card-1 {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #fff;
}

.row-content {
    padding: 20px;
    font-size: 14px;
}

    .row-content p {
        font-size: 14px;
    }

.marked-ul {
    list-style: inside disc;
}

/* Articles */

.article {
    margin-bottom: 40px;
    position: relative;
}

.article-title hr {
    margin: 15px 0 15px 0;
}

.article-content {
    font-size: 14px;
    line-height: 1.6;
}

    .article-content img {
        max-width: 100%;
    }

    .article-content p {
        font-size: 14px;
        line-height: 1.6;
    }

.article-body {
    font-size: 14px;
    padding: 20px 10px;
}

.article-summary {
    display: table;
    width: 100%;
    border-top: 1px solid rgb(229, 229, 229);
    height: 50px;
}

    .article-summary div {
        display: table-cell;
        vertical-align: middle;
    }

.summary-text {
    font-weight: bold;
    font-size: 12px;
}

.note-editor {
    border: 1px solid rgba(169, 169, 169, 0.32);
}

.post-div {
    margin-top: 20px;
    text-align: right;
}

/* Slider */

.topbar {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 120px;
}

.logotype {
    max-width: 300px;
    margin-left: 30px;
}

.menu {
    max-width: 600px;
    margin-left: auto;
}

.slider {
    display: block;
    position: relative;
}
