/*
 * We are hiding the invisible nav outside the screen
 * so we need to avoid the horizontal scroll
 */
body.okayNav-loaded {
    overflow-x: hidden;
}

.okayNav:not(.loaded) {
    visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.okayNav ul {
    /* We want two navigations - one hidden and one visible */
    float: left;
}

.okayNav a {
    /* Links general styling */
    color: #2e2e33;
    position: relative;
    z-index: 1;
}

.okayNav a:hover {
    color: teal;
}

.okayNav__nav--visible {
    overflow: hidden;
    white-space: nowrap;
}

    .okayNav__nav--visible li {
        display: inline-block;
    }

    .okayNav__nav--visible a {
        /* Link styling for the visible part of the nav */
        display: block;
        transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
        padding: 15px 15px;
    }


        .okayNav__nav--visible a:hover {
            color: teal;
        }
/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
    transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 70px;
    -webkit-transform-origin: 200px 0;
    -ms-transform-origin: 200px 0;
    transform-origin: 200px 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

    .okayNav__nav--invisible a {
        background: #fff;
        width: 240px;
        display: block;
        padding: 15px;
    }

    .okayNav__nav--invisible.nav-open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        z-index: 2000;
    }
/* Kebab icon */
.okayNav__menu-toggle {
    position: relative;
    transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    width: 40px;
    height: 20px;
    float: left;
    z-index: 1;
    top: 15px;
}

    .okayNav__menu-toggle span {
        display: block;
        position: absolute;
        margin: auto;
        height: 4px;
        width: 4px;
        background: #2e2e33;
        border-radius: 50%;
        left: 0;
        right: 0;
        pointer-events: none;
    }

        .okayNav__menu-toggle span:nth-child(1) {
            top: 0;
        }

        .okayNav__menu-toggle span:nth-child(2) {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .okayNav__menu-toggle span:nth-child(3) {
            bottom: 0;
        }

    .okayNav__menu-toggle.icon--active {
        /* Kebab icon when off-screen nav is open */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

        .okayNav__menu-toggle.icon--active span {
            background: #546edb;
        }
