﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>@ViewBag.Title - Панель керування</title>

	<link type="text/css" href="~/Content/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="~/Content/admin/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link type="text/css" href="~/Content/admin/theme.css" rel="stylesheet">
	<link type="text/css" href="~/Content/admin/images/icons/css/font-awesome.css" rel="stylesheet">
	<link type="text/css" href="~/Content/admin/summernote.css" rel="stylesheet" />
	<link type="text/css" href="~/Content/css/extra.css?v=@(new Random().NextDouble())" rel="stylesheet"/>

	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<i class="icon-reorder shaded"></i>
				</a><a class="brand" href="/admin">Панель адміністратора </a>
				<div class="nav-collapse collapse navbar-inverse-collapse">
					@*<ul class="nav nav-icons">
							<li class="active"><a href="#"><i class="icon-envelope"></i></a></li>
							<li><a href="#"><i class="icon-eye-open"></i></a></li>
							<li><a href="#"><i class="icon-bar-chart"></i></a></li>
						</ul>
						<form class="navbar-search pull-left input-append" action="#">
							<input type="text" class="span3">
							<button class="btn" type="button">
								<i class="icon-search"></i>
							</button>
						</form>*@
					<ul class="nav pull-right">
						@*<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Dropdown
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Item No. 1</a></li>
									<li><a href="#">Don't Click</a></li>
									<li class="divider"></li>
									<li class="nav-header">Example Header</li>
									<li><a href="#">A Separated link</a></li>
								</ul>
							</li>*@
						@*<li><a href="#">Support </a></li>*@

						@Html.Partial("_AuthPartial")
					</ul>
				</div>
				<!-- /.nav-collapse -->
			</div>
		</div>
	</div>

	<!--Wrapper-->
	<div class="wrapper">
		<div class="container">
			<div class="row">
				@if (ViewContext.RouteData.Values["action"].ToString().ToLower() != "login")
				{
					<div class="span3">
						<!--Sidebar-->
						<div class="sidebar">
							<ul class="widget widget-menu unstyled">
								<li class="active">
									<a href="/admin">
										<i class="menu-icon fa fa-home"></i>Головна
									</a>
								</li>
								<li>
									<a href="@Url.Action("Responses")">
										<i class="menu-icon fa fa-envelope-o"></i>Листи<b class="label green pull-right">
											11
										</b>
									</a>
								</li>
								<li>
									<a href="@Url.Action("Prices")">
										<i class="menu-icon fa fa-pencil"></i> Редагувати ціни
									</a>
								</li>
							</ul>
							<!--/.widget-nav-->

							<ul class="widget widget-menu unstyled">
								<li><a href="@Url.Action("Articles")"><i class="menu-icon fa icon-book"></i> Статті </a></li>
								<li><a href="@Url.Action("NewArticle")"><i class="menu-icon fa fa-plus"></i> Нова стаття </a></li>
							</ul>

						    <ul class="widget widget-menu unstyled">
                                <li><a href="@Url.Action("Galleries")"><i class="menu-icon fa fa-picture-o"></i>Список робіт</a></li>
						        <li><a href="@Url.Action("NewGallery")"><i class="menu-icon fa fa-picture-o"></i>Створити публікацію роботи</a></li>
						        <li><a href="@Url.Action("NewGalleryCategories")"><i class="menu-icon fa fa-list"></i>Категорії публікацій</a></li>
						    </ul>

							<ul class="widget widget-menu unstyled">
								<li><a href="@Url.Action("FAQ")"><i class="menu-icon fa fa-question-circle"></i>FAQ</a></li>
								<li><a href="@Url.Action("FaqCategories")"><i class="menu-icon fa fa-list"></i>Категорії FAQ</a></li>
							</ul>

							<!--/.widget-nav-->
							<ul class="widget widget-menu unstyled">
								<li>
									<a class="collapsed" data-toggle="collapse" href="#togglePages">
										<i class="menu-icon icon-cog">
										</i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
										</i>Інше
									</a>
									<ul id="togglePages" class="collapse unstyled">
										<li><a href="other-login.html"><i class="icon-inbox"></i>Мій профіль </a></li>
										<li><a href="/Admin/ChangePassword"><i class="icon-inbox"></i>Змінити пароль </a></li>
									</ul>
								</li>
								<li><a href="/Admin/LogOut"><i class="menu-icon icon-signout"></i>Вийти </a></li>
							</ul>
						</div>
						<!--/.sidebar-->
					</div>
				}

				<div class="span9">
					@RenderBody()
				</div>

			</div>
		</div>
	</div>

	<!--Footer-->
	<div class="footer">
		<div class="container">
			<b class="copyright">&copy; 2015 </b>
		</div>
	</div>

	<script src="~/scripts/admin/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="~/scripts/admin/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="~/scripts/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="~/scripts/admin/datatables/jquery.dataTables.js" type="text/javascript"></script>
	<script src="~/scripts/admin/common.js" type="text/javascript"></script>

	@RenderSection("scripts", false)
</body>

</html>