﻿@if (Request.IsAuthenticated)
{
	<li class="nav-user dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img src="~/Content/admin/images/user.png" class="nav-avatar" />
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Your Profile</a></li>
			<li><a href="#">Edit Profile</a></li>
			<li><a href="#">Account Settings</a></li>
			<li class="divider"></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</li>
}
else
{
	@*<li>
		<a href="#">
			Sign Up
		</a>
	</li>

	<li>
		<a href="#">
			Forgot your password?
		</a>
	</li>*@
}