﻿<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <!-- CSS Files-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/skins/blue.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/table/bootstrap-table.css" />
    <link rel="stylesheet" href="~/Content/css/okayNav.css" />

    <link rel="stylesheet" href="~/Content/css/extra.css"/>
    <link rel="stylesheet" href="~/Content/css/slippry.css"/>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <!--Header-->
        <div class="row topbar">
            <div class="logotype">
                <a href="/">
                    <h2>Авто на газ м.Чернівці</h2>
                </a>
                <h4>
                    Авторизований сервісний центр
                    <a href="http://stag.com.ua">
                        <img src="/Content/images/stag.png" style="height: 23px; display: inline-block; vertical-align: middle;">
                    </a>
                </h4>
            </div>
            <div class="menu">
                <nav role="navigation" id="nav-main" class="okayNav">
                    <ul>
                        <li><a href="#">Головна</a></li>
                        <li><a href="#">Ціни</a></li>
                        <li><a href="#">Кредит</a></li>
                        <li><a href="#">Наші послуги</a></li>
                        <li><a href="#">Наші роботи</a></li>
                        <li><a href="#">Статті</a></li>
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Про нас</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!--Body-->
        <div id="Main">
            @RenderBody()
        </div>
        
        <!--Footer-->
        <div id="footer">
            <footer class="row">
                <p class="back-top floatright">
                    <a href="#top"><span></span></a>
                </p>
                <div class="four columns">
                    <h1>Футер</h1>
                    Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
                </div>
                <div class="four columns">
                    <h1>Соціальні мережі</h1>
                    <a class="social facebook" href="#"></a>
                    <a class="social twitter" href="#"></a>
                    <a class="social deviantart" href="#"></a>
                    <a class="social flickr" href="#"></a>
                    <a class="social dribbble" href="#"></a>
                </div>
                <div class="four columns">
                    <h1 class="newsmargin">Підпишіться на новини</h1>
                    <div class="row collapse newsletter floatright">
                        <div class="ten mobile-three columns">
                            <input type="text" class="nomargin" placeholder="Enter your e-mail address...">
                        </div>
                        <div class="two mobile-one columns">
                            <a href="#" class="postfix button expand">GO</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
        <!--Copyright-->
        @*<div class="copyright">
            <div class="row">
                <div class="six columns">
                    &copy;<span class="small"> Чернівці 2015</span>
                </div>
                <div class="six columns">

                </div>
            </div>
        </div>*@
    </div>



    <script src="~/Scripts/foundation.min.js"></script>
    <script src="~/Scripts/elasticslideshow.js"></script>
    <script src="~/Scripts/jquery.carouFredSel-6.0.5-packed.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/modernizr.foundation.js"></script>

    <script src="~/Scripts/scrolltotop.js"></script>
    <script src="~/Scripts/hoverIntent.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/responsivemenu.js"></script>
    <script src="~/Scripts/Script.js"></script>
    <script src="~/Scripts/jquery.okayNav.min.js"></script>
    <script src="~/Scripts/slippry.min.js"></script>
    <script type="text/javascript">
        var navigation = $('#nav-main').okayNav();
        jQuery('#out-of-the-box-demo').slippry();
    </script>
    @RenderSection("scripts", false)
</body>

</html>