﻿@model dynamic

@{
    ViewBag.Title = "Про нас";
}

<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
               Про нас
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>


<div class="row card-1">
    <div class="row-content">
        <p>
            «<b>Авто на Газ</b>» в м.Чернівці працює вже понад 10 років та є офіційним представником компанії
            «<a href="http://www.autogas.in.ua">Авто Газ Глобал</a>». Разом ми динамічно розвиваємось і утримуємо
            незаперечне лідерство в своєму сегменті ринку. Головна наша перевага – вміти відчувати вплив
            часу та реагувати на зміни ринку. Задовольняти потреби клієнта, про які він, можливо, ще не
            здогадується – наша індивідуальна особливість.
        </p>

        <p>
            Завдяки тому, що компанія «<a href="http://www.autogas.in.ua">Авто Газ Глобал</a>» є прямим імпортером та
            дистриб’ютором ведучих європейських компаній-виробників, таких як: <a href="http://www.ac.com.pl/ru/">AC STAG</a>,
            Landi Renzo, Tomasetto, Atiker, Emer, Bigas, VALTEK, LECHO,
            VITKOVICEMILMET, RYBACKI, FLASHLUBE, EMER, CERTOOLS, дозволяє нам встановлювати на
            обладнання ГБО самі лояльні ціни.
        </p>
        <p>
            За 10 років ми переобладнали на газ пропан-бутан більше однієї тисячі автомобілів, тому на СТО
            «<b>Авто на Газ</b>» Вас зустрінуть професіонали своєї справи, які допоможуть вибрати та встановити
            самий оптимальний варіант газобалонного обладнання, що підходить саме Вашому автомобілю.
            СТО «Авто на Газ» в м.Чернівці несе повну відповідальність по своїм гарантійним зобов’язанням за
            встановлення ГБО.
        </p>
    </div>
</div>

