﻿@model dynamic

@{
    ViewBag.Title = "Переваги";
}

<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
                Переваги
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>

<div class="row card-1">
    <div class="row-content">
        <h2>
            Основні переваги використання газобалонного обладнання (ГБО) 4-го покоління <br/>
            (газовий інжектор, пропан-бутан) перед бензином:
        </h2> <br/>

        <p>
            <b>- ДЕШЕВА ЇЗДА!</b> Основна і, практично, найбільша користь від їзди на газу є його вартість, яка
            завжди нижча від цін на бензин у середньому на 50%. Тобто, сьогодні при їзді на газу Ви
            витрачаєте у двічі менше грошей.
        </p>

        <p>
            <b>- АНТИДЕТОНАЦІЙНА СТІЙКІСТЬ!</b> Октанове число газу 103-105, що виключає детонаційне згорання
            паливної суміші і зменшує навантаження на поршневу групу двигуна.
        </p>
       
        <p>
            <b>- ЗАХИСТ ДВИГУНА!</b> Газ не розріджує моторне мастило, згорає повільніше, через що тиск у
            циліндрах зростає не так швидко і у результаті ударні навантаження на деталі двигуна менші, тому
            ресурс двигуна збільшується у 1,5 рази.
        </p>

        <p>
            <b>- НАДІЙНІСТЬ!</b> Роботу ГБО-4 контролює окремий комп’ютер, мультиклапан та електроклапан
            запобігають самовільному витоку газу. Інжекторна система ГБО-4 така ж герметична, як і в
            бензинових інжекторних систем, тому у салоні авто можна палити цигарки. Тиск в балоні складає
            всього 8-10 атмосфер, що абсолютно безпечно для металевого балону.
        </p>
       

        <p>
            <b>- ЕКОЛОГІЯ!</b> Дуже важливо те, що це екологічно більш чистіше паливо, у вихлопі з мотору при
            роботі на газі міститься менше шкідливих речовин, в тому числі і СО (майже у два рази), що дає
            можливість без зайвих проблем проводити екологічний контроль роботи двигуна.
        </p>
        

        <p>
            <b>- КРЕДИТ ІЗ ВНЕСКОМ 0%!</b> Якщо вже сьогодні встановити ГБО-4 у кредит без додаткових витрат із
            власного бюджету, то наступні декілька місяців він гаситься завдяки економії. Надалі Ви
            економите від їзди на газу і вартість Вашого автомобіля зростає на вартість ГБО-4.
        </p>
       

    </div>
</div>