﻿@model Avtogaz.Models.UserResponseModel

@{
	ViewBag.Title = "Контакти";
}

<div id="subheader">
	<div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
               Контакти
            </p>
        </div>
	</div>
</div>
<div class="hr"></div>

<div class="row">
	<!-- GOOGLE MAP IFRAME -->
	<div class="twelve columns">
		<iframe class="gmap" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5aE5XNUONEcR1nd7NkKIXcg&key=AIzaSyBJYMSmJEhOicaSIH8UJO5JBcr7VQur9Js" allowfullscreen></iframe>
	</div>
</div>

<div class="row" style="margin-top: 25px;">
	<div class="twelve columns">
		<div class="panel card-1">
			<h5><i class="fa fa-home"></i>  &nbsp; Наші контакти</h5>
			<ul>
				<li><strong>Адреса:</strong> м.Чернівці, вул. Головна, 265А</li>
				<li><strong>Моб: </strong> (050) 27-11-305</li>
				<li><strong>Email:</strong> avtogaz.cv(собака)gmail.com</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<!-- CONTACT FORM -->
	<div class="twelve columns">
		<div class="wrapcontact">
			<h5>Контактна форма</h5>

			@if (ViewBag.Message != null)
			{
				<div class="alert-box success">
					@ViewBag.Message
					<a href="" class="close">x</a>
				</div>
			}

			@using (Html.BeginForm("Contacts", "Home", FormMethod.Post))
			{
				<div class="form">
					<div class="six columns noleftmargin">
						<label>Ім'я</label>
						@Html.TextBoxFor(m => m.Name, new { @class = "smoothborder", placeholder = "Ваше ім'я *" })
					</div>
					<div class="six columns">
						<label>E-mail</label>
						@Html.TextBoxFor(m => m.Email, new { @class = "smoothborder", placeholder = "Email *" })
					</div>
					<label>Повідомлення</label>
					@Html.TextAreaFor(m => m.Text, new { @class = "smoothborder ctextarea", rows = "8", placeholder = "Введіть ваше повідомлення тут *" })
					@Html.ValidationSummary()
					<input type="submit" id="submit" class="readmore" value="Submit">
				</div>
			}
		</div>
	</div>

</div>