﻿@model dynamic

@{
    ViewBag.Title = "Кредит";
}

<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
                Кредит. «Миттєва розстрочка» від ПриватБанку
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>

<div class="row card-1">
    <div class="row-content">
        <p>
            У нас Ви можете оформити кредит для встановлення ГБО на всю суму терміном до 24 місяців.
        </p>

        <p>
            Якщо Ви маєте кредитну карту від ПриватБанка, то надіславши смс зі словом «chast» на номер
            «10060», одержуєте миттєву відповідь про встановлений кредитний ліміт. смс необхідно
            надсилати зі свого фінансового номеру телефону (на який приходять смс від банку про баланс
            Вашого рахунку). У разі якщо сума ліміту менша за вартість ГБО Ви можете доплатити готівкою, або
            звернутись до банку з проханням збільшити кредитний ліміт.
        </p>

        <p>
            Про схему кредитування та фінансові розрахунки (переплату) і обслуговування по програмі
            «Миттєва розстрочка» Ви можете дізнатися <a href="http://chast.privatbank.ua/pp_site/">тут</a>
        </p>
    </div>
</div>