﻿@model List<IGrouping<string, Avtogaz.Models.FaqItem>>
@{
	ViewBag.Title = "Корисно знати";
}

<style>
	.faqHeader {
		font-size: 21pt;
		margin-bottom: 30px;
	}

	.faqHeader:not(:first-child) {
		margin-top: 50px;
	}

	.panel-title {
		margin-top: 0;
	}

	.panel-title a {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 14px;
	}
</style>

<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
                Корисно знати
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>

<div class="row">
	<div class="twelve columns">
		<div class="container">
			<div class="panel-group" id="accordion">
				@foreach (var faqcategory in Model)
				{
					<div class="faqHeader">@faqcategory.Key</div><hr/>
					foreach (var faq in faqcategory.ToList())
					{
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" name="#@faq.Id" href="#@faq.Id">@faq.Title</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									@faq.Text
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</div>
</div>
