﻿@model Avtogaz.Models.HomeViewModel

@{
	ViewBag.Title = "Авто на газ";
}

<div class="row card-1">
    <!--Slider-->
    <div class="slider">
        <ul id="out-of-the-box-demo">
            <li>
                <a href="#slide2">
                    <img src="/Uploads/road.jpg">
                </a>
            </li>
            <li>
                <a href="#slide3">
                    <img src="/Uploads/stag.jpg">
                </a>
            </li>
            <li>
                <a href="#slide2">
                    <img src="/Uploads/nature.jpg">
                </a>
            </li>
        </ul>
    </div>

    <div class="twelve columns">
        <h1 style="color: #3F3F3F; text-align: center; margin: 20px 0;">
            Чому варто встановити <br/> на автомобілі газобалонне обладнання STAG?
        </h1>
    </div>

    <div class="twelve columns">
        <ul class="ca-menu">
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-money"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Вартість</h2>
                        <h3 class="ca-sub">Вартість газу на 40-60% менша від бензину</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-leaf"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Заради екології</h2>
                        <h3 class="ca-sub">Продукти горіння </h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-thumbs-o-up"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Якість</h2>
                        <h3 class="ca-sub">Октанове число газу зазвичай більше 100, що зменшує ймовірність детонацій</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-fire"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Пожежобезпека</h2>
                        <h3 class="ca-sub">Сучасні газові балони забезпечують високий рівень безпеки у випадку аварій</h3>
                    </div>
                </a>
            </li>
        </ul>

        <ul class="ca-menu">
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-shield"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Практичність</h2>
                        <h3 class="ca-sub">Зменшується навантаження на шатунно-поршневі механізми двигуна</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-volume-down"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Рівень шуму</h2>
                        <h3 class="ca-sub">Двигун з ГБО працює набагато тихіше, ніж двигун на звичайному паливі</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-cog"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Вплив на двигун</h2>
                        <h3 class="ca-sub">Зменшується зношування циліндро-поршневої групи</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fa fa-check"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Необмежені можливості</h2>
                        <h3 class="ca-sub">Isotop & PrettyPhoto</h3>
                    </div>
                </a>
            </li>
        </ul>

        <div class="get-more" style="margin-bottom: 30px">
            <a href="@Url.Action("Benefits")">
                <div class="ghost-button" style="width: 240px;">Дізнатись більше</div>
            </a>
        </div>
    </div>

    @*Наші роботи*@
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Наші роботи</h4>
        </div>
    </div>
    <div class="twelve columns mb-40" ">
        <div class="image_carousel fitcarousel">
            <div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 870px; height: 124px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
                <div style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 5046px; height: 124px; z-index: auto;" id="foo2">

                    @foreach (var p in Model.GalleryPreviews)
                    {
                    <img src="@p.Image" alt="" class="preview-gallery-item" data-href="@Url.Action("Job", "Gallery" , new { id=p.Id })" height="140" width="140">
                    }

                </div>
            </div>
            <div class="clearfix">
            </div>
            <a style="display: block;" class="prev" id="foo2_prev" href="#"><span>prev</span></a>
            <a style="display: block;" class="next" id="foo2_next" href="#"><span>next</span></a>
        </div>
    </div>

    @*<div class="twelve columns mb-40">
        <div class="centersectiontitle">
            <h4>Останні статті</h4>
        </div>
    </div>
    <div class="twelve columns">
        @foreach (var article in Model.Articles)
        {
        <div class="six columns">
            <div class="boxblog">
                <h5 style="color: rgb(90, 147, 150)">@article.Title'</h5>
                <p class="small date">
                    <i class="fa fa-clock-o"></i> Дата публікації : @article.PostTime.ToShortDateString()
                </p>
                <p>
                    @article.Description
                </p>
                <p>
                    <a class="small continue" href="#">Перейти до статті</a>
                </p>
            </div>
        </div>
        }
    </div>*@

    <!--Partners-->
    <div class="twelve columns" style="margin-top: 40px;">
        <div class="centersectiontitle">
            <h4>Офіційні представники</h4>
        </div>

        <div class="partners">
            <div class="el">
                <a href="http://stag.com.ua"><img src="~/Content/images/stag.png" /></a>
            </div>
            <div class="el">
                <a href="http://profigas.ua"><img src="~/Content/images/profigas.png" /></a>
            </div>
        </div>

    </div>
</div>
