﻿@model Avtogaz.Models.PriceModel

@{
	ViewBag.Title = "Ціни";
}

<style>
    .price-table {
        color: #FFF;
        margin-bottom: 50px;
    }

    .price-table tr td {
        color: #515151;
    }

    .price-table td:not(:first-child) {
        text-align: center;
    }

    .price-table th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .price-table th {
        background-color: #55A2A6;
    }

    .price-table tr:not(:first-child):hover {
        background-color: #eee;
        cursor: pointer;
        transition: all 0.2s linear;
    }


</style>

<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                Ціни на обладнання
            </p>
            <p class="right">
                Оновлено: @Model.ChangeDate.ToShortDateString()
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>

<div class="row">
    <div class="twelve columns">
        <h4 style="font-size: 20px; text-align: center;">Прайс-лист систем італійського ГБО (пропан-бутан) на іномарки.</h4>
        <div class="table-responsive">
            <table class="price-table">
                <tr>
                    <th>
                        "Газовий карбюратор" (3-є покоління).
                    </th>
                    <th>Ціна, $ <br />циліндричний балон від 50л</th>
                    <th>
                        Ціна, $<br>
                        тороїдальний балон замість "запаски" 42л
                    </th>
                </tr>
                <tr>
                    <td>іномарки з карбюратором </td>
                    <td>@Html.ValueFor(m => m.Carburator1) </td>
                    <td>@Html.ValueFor(m => m.Carburator2) </td>
                </tr>
                <tr class="dark_row">
                    <td>іномарки з моноінжектором </td>
                    <td>@Html.ValueFor(m => m.MonoInjector1) </td>
                    <td>@Html.ValueFor(m => m.MonoInjector2) </td>
                </tr>
                <tr>
                    <td>іномарки з механічним інжектором </td>
                    <td>@Html.ValueFor(m => m.MechInjector1) </td>
                    <td>@Html.ValueFor(m => m.MechInjector2) </td>
                </tr>
                <tr class="dark_row">
                    <td>іномарки з електронним (повним,	стерео) інжектором </td>
                    <td>@Html.ValueFor(m => m.ElectroInjector1) </td>
                    <td>@Html.ValueFor(m => m.ElectroInjector2) </td>
                </tr>
                <tr>
                    <td>Спеціальна ціна для AVEO, Lanos, Sens </td>
                    <td>@Html.ValueFor(m => m.SpecialAveo1) </td>
                    <td>@Html.ValueFor(m => m.SpecialAveo2) </td>
                </tr>
                <tr>
                    <td colspan="3" class="descr">
                        Система “газовий карбюратоор”
                        встановлюється на автомобілі тільки з металічним впускним колектором. Монтаж і
                        налагодження такої системи триває 4-8 годин. Розхід газу у порівнянні із
                        бензином збільшується на 5-7%. Якщо колектор пластиковий, заради уникнення пошкоджень,
                        необхідно встановлювати систему 4-го покоління (“газовий інжектор”).
                    </td>
                </tr>

            </table>
        </div>

        <div class="table-responsive">
            <table class="price-table">
                <tbody>
                    <tr>
                        <th>
                            “Газовий інжектор”<br /> (4-е покоління, розподілений вприск, EURO-4)
                        </th>
                        <th colspan="2">
                            Ціна, $<br>
                            тип і розмір балону - на вибір клієнта
                        </th>
                    </tr>
                    <tr>
                        <td>4 циліндра </td>
                        <td colspan="2">@Html.ValueFor(m => m.Cilinder4) </td>
                    </tr>
                    <tr class="dark_row">
                        <td>6 циліндрів </td>
                        <td colspan="2">@Html.ValueFor(m => m.Cilinder6) </td>
                    </tr>
                    <tr class="dark_row">
                        <td>8 циліндрів </td>
                        <td colspan="2">@Html.ValueFor(m => m.Cilinder8) </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="descr">
                            Система "газовий інжектор"
                            встановлюється на автомобілі тільки з електронним (повним) інжектором. Газ
                            подається через форсунки, які керуються спеціальним комп’ютером. Потужність
                            двигуну не падає, розхід газу на декілька процентів більше, ніж бензин. У ціну
                            входить індикатор рівня газу. Монтаж и налагодження системи розподільного вприску
                            проводиться протягом 1 доби.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h6 style="font-weight: 100">За додаткову плату в салоні можна встановити індикатор рівня газу. На газобалонне обладнання надається гарантія 1 рік або 20 тис. км пробігу. </h6> <br />
    </div>
</div>