﻿@model dynamic

@{
    ViewBag.Title = "Наші послуги";
}

<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
                Наші послуги
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>

<div class="row card-1">
    <div class="row-content">
        <ul class="marked-ul">
            <li>Встановлення ГБО 2-го та 4-го поколінь
            <li>Встановлення ГБО на типи двигунів з системою FSI/TSI (безпосередній вприск)
            <li>Обслуговування та сервіс ГБО м.Чернівці
            <li>Настройка та регулювання ГБО вм.Чернівці
            <li>Ремонт ГБО
            <li>Продаж комплектуючих ГБО
            <li>Видача дозвільних документів для ВРЕР(МРЕО), тільки після перевірки авто нашими спеціалістами
            <li>Оформлення кредиту (ПриватБанк) для установки ГБО
        </ul>
    </div>
</div>