﻿@model Avtogaz.Data.GalleryViewModel

@{
	ViewBag.Title = "Наші роботи";
	int categoryId = Convert.ToInt32(Request.QueryString["category"]);
}

<style>
	ul.accordion > li.active .content {
		display: none;
	}

    ul.accordion > li .title::after {
        display: none;
    }

    ul.accordion > li.active .title::after {
        display: none;
    }

    .nopadding {
        padding: 0 !important;
    }

    .work-content {
        padding-top: 10px;
    }

    .gal-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .features div {
        margin-bottom: 5px;
    }

    .mb {
        margin-bottom: 20px;
    }
</style>

<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				Наші роботи / <strong>@Model.Categories.Where(c => c.Id == categoryId).Select(c => c.Name).FirstOrDefault()</strong>
			</p>
		</div>
		<div class="four columns">

		</div>
	</div>
</div>
<div class="hr"></div>

<div class="row" style="position: relative;">
	<div class="three columns">
		<ul class="accordion">
			<li class="@(categoryId == 0 ? "active" : "")">
				<a href="/Gallery">
					<div class="title">
						<b>Останні</b>
					</div>
				</a>
			</li>

			@foreach (var c in Model.Categories)
			{
			<li class="@(categoryId == c.Id ? "active" : "")">
				<a href="/Gallery?category=@c.Id">
					<div class="title">
						<b>@c.Name</b>
					</div>
				</a>
			</li>
			}
		</ul>
	</div>
    
	<div class="nine columns port">
		@if (Model.Previews != null && Model.Previews.Count > 0)
		{
			foreach (var item in Model.Previews)
			{
			    <div class="twelve columns nopadding card-1 mb">
			        <div class="four columns nopadding">
			            <img src="@item.Image" style="width: 100%; vertical-align: middle;"/>
			        </div>
			        <div class="eight columns work-content">
			            <div class="twelve columns noleftmargin nopadding">
			                <div class="gal-title">
			                    <a href="@Url.Action("Job", new { Id = item.Id })">@item.Title</a>
			                </div>
			            </div>
			            
			            <div class="six columns nopadding features">
			                <div><b>Марка:</b> @item.Mark</div>
			                <div><b>Модель:</b> @item.Model</div>
			                <div><b>Рік випуску:</b> @item.Year</div>
			                <div><b>Потужність:</b> @item.Power</div>
			            </div>
			            <div class="six columns nopadding features">
			                <div><b>Тип двигуна:</b> @item.EngineType</div>
			                <div><b>Об'єм двигуна:</b> @item.EngineCapacity</div>
			                <div><b>К-ть циліндрів:</b> @item.CylinderCount</div>
			            </div>
			        </div>
			    </div>
			}
		}
		else
		{
		    <div style="width: 400px; margin: 0 auto;">
                <h2><i class="fa fa-search"></i> Відсутні роботи в даній категорії</h2>
		    </div>
		}

	</div>
</div>