﻿@model ICollection<Avtogaz.Models.ArticleModel>

    @{
    ViewBag.Title = "Статті";
    }

    <style>
        .card {
            margin-bottom: 10px;
        }

        .card-content {
            padding: 10px;
            font-size: 14px;
        }

        .floatright {
            float: right;
        }

        .article-title {
            display: inline-block;
            max-width: 565px;
        }
    </style>

    <h2>
        <i class="fa fa-newspaper-o"></i> Статті
    </h2>

    @foreach (var article in Model)
    {
        <div class="card card-1">
            <div class="card-content">
                <div class="article-title">
                    <a href="@Url.Action("Article", "Articles" , new {Id=article.Id})" target="_blank">@article.Title</a>
                    (@article.PostTime.ToShortDateString())
                </div>
                <div class="floatright">
                    <a href="@Url.Action("EditArticle", "Admin", new { Id = article.Id })">Редагувати</a> |
                    <a class="remove-article-btn" data-id="@article.Id" href="#">Видалити</a>
                </div>
            </div>
        </div>
    }

@section scripts
{
    <script>
        $(function () {
            $(".remove-article-btn").click(function (e) {
                e.preventDefault();
                if (!confirm("Ви дійсно бажаєте видалити дану статтю?"))
                    return;

                var ids = $(this).data("id");
                var block = $(this).closest(".card");


                $.ajax({
                    url: "/Admin/DeleteArticle",
                    data: { id : ids},
                    type: "POST",
                    success: function(response) {
                        if (response.success) {
                            $(block).fadeOut();
                        }
                    }
                })
            });
        })
    </script>
}
