﻿@model Avtogaz.Models.ChangePasswordModel

@{
	ViewBag.Title = "Зміна паролю";
}

<div class="content">
	<div class="module">
		<div class="module-head">
			<h3>Зміна паролю</h3>
		</div>
		<div class="module-body">

			@if (!ViewContext.ViewData.ModelState.IsValid)
			{
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">×</button>
					@Html.ValidationSummary()
				</div>
			}

			@if (ViewBag.Message != null)
			{
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					@ViewBag.Message
				</div>
			}


			@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
			{
				@Html.AntiForgeryToken()

				<div class="control-group">
					<label class="control-label" for="basicinput">Старий пароль</label>
					<div class="controls">
						@Html.TextBoxFor(m => m.OldPassword, new { @class="span12" })
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="basicinput">Новий пароль</label>
					<div class="controls">
						@Html.PasswordFor(m => m.NewPassword, new { @class = "span12" })
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="basicinput">Підтвердіть пароль</label>
					<div class="controls">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span12" })
					</div>
				</div>

				<div class="control-group">
					<div class="controls align-right">
						<button type="submit" class="btn">Змінити пароль</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>
