﻿@model Avtogaz.Models.FaqViewModel

@{
	ViewBag.Title = "FAQ";
}

<style>
	.table {
		background-color: white;
	}

	.table tr td {
		vertical-align: middle;
	}

	.faq-edit {
		color: #2E87ED;
	}

	.faq-delete {
		color: crimson;
	}
</style>

<h2><i class="fa fa-question-circle"></i> FAQ</h2><hr />

@using (Html.BeginForm("AddFaq", "Admin", FormMethod.Post, new { id = "qqq" }))
{
	<div class="well">
		<div class="eight columns">Питання</div>
		<div class="eight columns">
			<input type="text" name="Title" style="width: 100%" />

			<div class="eight columns">Відповідь</div>
			<div class="eight columns">
				<textarea name="Text" style="width: 100%;"></textarea>
				
			</div>

			<div class="eight columns">
				<div class="eight columns">Категорія</div>
				<div class="align-left">
					@Html.DropDownListFor(m => m.CategoryId, Model.Categories)
				</div>
			</div>

			<div style="margin-top: 10px;">
				@Html.CheckBox("ShowInSideBlock")
				<label for="ShowInSideBlock" style="display: inline-block">Показувати в блоці найчастіших питань</label>
			</div>

			<div class="align-right">
				<input type="submit" class="btn btn-success" value="Додати"/>

			</div>

		</div>
	</div>
}


<table class="table table-bordered">
	<thead>
		<tr>
			<th width="200">Питання</th>
			<th>Відповідь</th>
			<th width="50S">В блоці</th>
			<th width="50">Дії</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var faq in Model.Items)
		{
			<tr>
				<td>@faq.Title</td>
				<td>@faq.Text</td>
				<td>
					@if (faq.ShowInSideBlock)
					{
						@:✓
					}
				</td>
				<td>
					<span class="faq-options" data-id="@faq.Id">
						<i class="fa fa-edit faq-edit"></i>
						<i class="fa fa-remove faq-delete"></i>
					</span>
				</td>
			</tr>
		}
	</tbody>
</table>

@section scripts
{
	<script>
		$(function() {
			$(".faq-delete").click(function () {

				if (!confirm("Ви дійсно бажаєте видалити даний FAQ?"))
					return;

				var self = $(this);
				var id = $(this).parent().data("id");

				$.post("@Url.Action("DeleteFaqItem")", {
					Id: id
				},
				function(response) {
					if (response.Success) {
						$(self).parent().closest("tr").fadeOut("slow");
					} else {
						alert(response.Message);
					}
				});
			})
		})
	</script>
}
