﻿@model System.Collections.Generic.List<Avtogaz.Models.GalleryItem>

    @{
    ViewBag.Title = "Список робіт";
    }

    <style>
        .card {
            margin-bottom: 10px;
        }

        .card-content {
            padding: 10px;
            font-size: 14px;
        }

        .floatright {
            float: right;
        }

        .article-title {
            display: inline-block;
            max-width: 565px;
        }
    </style>

    <h2>
        <i class="fa fa-bookmark"></i> Список робіт
    </h2>

    @foreach (var work in Model)
    {
    <div class="card card-1">
        <div class="card-content">
            <div class="article-title">
                <a href="@Url.Action("Job", "Gallery" , new {Id=work.Id})" target="_blank">@work.Title</a>
            </div>
            <div class="floatright">
                <a href="@Url.Action("EditGallery", "Admin" , new { Id=work.Id })">Редагувати</a> |
                <a class="remove-article-btn" data-id="@work.Id" href="#">Видалити</a>
            </div>
        </div>
    </div>
    }
