﻿@model List<Avtogaz.Models.GalleryCategory>

@{
	ViewBag.Title = "Галерея";
}

	

<div class="module">
	<div class="module-head">
		<h3>Категорії публікацій</h3>
	</div>
	<div class="module-body">
		@using (Html.BeginForm("GalleryCategories", "Admin", null, FormMethod.Post, new {@class = "form-inline", style = "margin-bottom: 20px"}))
		{
			<div class="form-group">
				<label>Назва категорії </label>
				@Html.TextBox("Name")
				<button class="btn btn-success"><i class="fa fa-plus"></i> Додати в базу</button>
			</div>
		}
		@Html.ValidationSummary()
		<hr/>

		<table class="table table-bordered">
			<thead>
			<tr>
				<th width="100">
					ID
				</th>
				<th>
					Назва
				</th>
				<th width="100">
					К-ть робіт
				</th>
				<th width="90">
					Дії
				</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var cat in Model)
			{
				<tr>
					<td>@cat.Id</td>
					<td>@cat.Name</td>
					<td>0</td>
					<td class="cell-actions">
						<button data-id="@cat.Id" class="btn btn-xs btn-danger cat-delete"><i class="fa fa-remove"></i> Видалити</button>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

@section scripts
{
<script>
	$(function() {
		$(".cat-delete").click(function() {
			if (!confirm("Ви дійсно бажаєте видалити дану категорію?"))
				return false;

			var id = $(this).data("id");
			var button = $(this);
			
			$.post("@Url.Action("FaqCategories")", {
				Id : id
			}, function(data) {
				if (data.Success) {
					$(button).closest("tr").fadeOut("fast");
				} else if (data.hasOwnProperty("Message")) {
					alert(data.Message);
				}
			})
		});
	});
</script>	
}
