﻿@model Avtogaz.Models.LoginModel

<div class="module module-login span4 offset4">
	@using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @id = "form-vertical" }))
	{
		@Html.AntiForgeryToken()
		<div class="module-head">
			<h3>Панель керування</h3>
		</div>
		<div class="module-body">
			<div class="control-group">
				<div class="controls row-fluid">
					@Html.TextBoxFor(m => m.Email, new { @class="span12", placeholder="Логін" })
				</div>
			</div>
			<div class="control-group">
				<div class="controls row-fluid">
					@Html.PasswordFor(m => m.Password, new { @class="span12", placeholder="Пароль" })
				</div>
			</div>
		</div>
		<div class="module-foot">
			<div class="control-group">
				<div class="controls clearfix">
					@Html.ValidationSummary()
				</div>

				<div class="controls clearfix">
					<button type="submit" class="btn btn-primary pull-right">Увійти</button>
					<label class="checkbox">
						<input type="checkbox"> Запам'ятати мене
					</label>
				</div>
			</div>
		</div>
	}
</div>