﻿@model Avtogaz.Models.ArticleModel

@{
	ViewBag.Title = "Нова стаття";
}

<h2><i class="fa fa-newspaper-o"></i> Нова стаття</h2>

@if (ViewBag.Message != null)
{
	<div class="alert alert-success">
		<i class="fa fa-check"></i> @ViewBag.Message
	</div>
}

@using (Html.BeginForm("NewArticle", "Admin", FormMethod.Post, new { @id = "article-form" }))
{
	@Html.TextBoxFor(m => m.Title, new { @class = "span9", placeholder = "Введіть назву статті..." })

	@Html.TextBoxFor(m => m.Text, new { @class = "redactor" })


	<div class="post-div">
		<span class="pull-left"><i>Підказка: перехід на новий рядок - SHIFT+ENTER</i></span>

		<a href="#" id="post-article" class="btn btn-success">Опублікувати статтю</a>
	</div>
	<div class="clearfix"></div>
}

<script src="~/Scripts/admin/tinymce/tinymce.min.js"></script>
@section scripts
{
	<script>
		$(function () {
			tinymce.init({
				selector: ".redactor",
				height: 400,
				menubar: false,
				language: "uk_UA",
				image_advtab: true,
				plugins: "fullscreen table link searchreplace media textcolor autosave preview image",
				toolbar: "undo redo | styleselect fontsizeselect forecolor backcolor removeformat | alignleft aligncenter alignright | bullist numlist | link media image table | " +
					"fullscreen preview",
				file_browser_callback: RoxyFileBrowser
			});

			function RoxyFileBrowser(field_name, url, type, win) {
				var roxyFileman = '/fileman/index.html';
				if (roxyFileman.indexOf("?") < 0) {
					roxyFileman += "?type=" + type;
				}
				else {
					roxyFileman += "&type=" + type;
				}
				roxyFileman += '&input=' + field_name + '&value=' + win.document.getElementById(field_name).value;
				if (tinyMCE.activeEditor.settings.language) {
					roxyFileman += '&langCode=' + tinyMCE.activeEditor.settings.language;
				}
				tinyMCE.activeEditor.windowManager.open({
					file: roxyFileman,
					title: 'Файловий менеджер',
					width: 850,
					height: 650,
					resizable: "yes",
					plugins: "media",
					inline: "yes",
					close_previous: "no"
				}, { window: win, input: field_name });
				return false;
			}

			$("#post-article").click(function(e) {
				e.preventDefault();

				$("#article-form").submit();
			});
		})
	</script>
}
