﻿@model Avtogaz.Models.GalleryItem

@{
	ViewBag.Title = "Галерея";
}

<style>
	.panel-heading {
		background-color: #eee;
	}

	.note-editor {
		border: 1px solid rgba(169, 169, 169, 0.32);
	}

	.post-div {
		margin-top: 20px;
		text-align: right;
	}
</style>


<h2><i class="fa fa-newspaper-o"></i> Нова публікація</h2>

@if (ViewBag.Message != null)
{
	<div class="alert alert-success">
		@ViewBag.Message
	</div>
}


@using (Html.BeginForm("NewGallery", "Admin", FormMethod.Post, new { @id = "article-form", enctype = "multipart/form-data" }))
{
	@Html.TextBoxFor(m => m.Title, new { @class = "span9", placeholder = "Введіть назву статті..." })
	<div class="well">
		<div class="row">
			<div class="span3">
				@Html.TextBoxFor(m => m.Mark, new {placeholder = "Марка"})
				@Html.TextBoxFor(m => m.Model, new {placeholder = "Модель"})
				@Html.TextBoxFor(m => m.Year, new {placeholder = "Рік випуску", @Value=""})
			</div>
			<div class="span3">
				@Html.TextBoxFor(m => m.EngineCapacity, new {placeholder = "Об'єм двигуна"})
				@Html.TextBoxFor(m => m.CylinderCount, new {placeholder = "Кількість циліндрів", @Value=""})
			</div>
			<div class="span2">
				@Html.TextBoxFor(m => m.Power, new {placeholder = "Потужність"})
				@Html.DropDownListFor(m => m.EngineType, Model.EngineTypes)
				@Html.DropDownListFor(m => m.CategoryId, Model.Categories)
			</div>
		</div>
	</div>
	<div class="well">
		<i class="fa fa-image"></i> Зображення:<br/><br/>
		<input type="file" name="File"/>
	</div>
	
	@Html.ValidationSummary()

	@Html.TextBoxFor(m => m.Text, new { @class = "redactor" })


	<div class="post-div">
		<span class="pull-left"><i>Підказка: перехід на новий рядок - SHIFT+ENTER</i></span>

		<a href="#" id="post-article" class="btn btn-success">Опублікувати статтю</a>
	</div>
	<div class="clearfix"></div>
}

<script src="~/Scripts/admin/tinymce/tinymce.min.js"></script>
@section scripts
{
	<script>
		$(function () {
			tinymce.init({
				selector: ".redactor",
				height: 400,
				menubar: false,
				language: "uk_UA",
				plugins: "fullscreen table link searchreplace media textcolor autosave preview image",
				toolbar: "undo redo | styleselect fontsizeselect forecolor backcolor removeformat | bullist numlist | link media image table | " +
					"fullscreen preview",
				file_browser_callback: RoxyFileBrowser
			});

			function RoxyFileBrowser(field_name, url, type, win) {
				var roxyFileman = '/fileman/index.html';
				if (roxyFileman.indexOf("?") < 0) {
					roxyFileman += "?type=" + type;
				}
				else {
					roxyFileman += "&type=" + type;
				}
				roxyFileman += '&input=' + field_name + '&value=' + win.document.getElementById(field_name).value;
				if (tinyMCE.activeEditor.settings.language) {
					roxyFileman += '&langCode=' + tinyMCE.activeEditor.settings.language;
				}
				tinyMCE.activeEditor.windowManager.open({
					file: roxyFileman,
					title: 'Файловий менеджер',
					width: 850,
					height: 650,
					resizable: "yes",
					plugins: "media",
					inline: "yes",
					close_previous: "no"
				}, { window: win, input: field_name });
				return false;
			}


			$("#post-article").click(function(e) {
				e.preventDefault();

				$("#article-form").submit();
			});
		})
	</script>
}
