﻿@model Avtogaz.Models.PriceModel

@{
	ViewBag.Title = "Редагування цін";
}

<style>
	.table{
		background-color: white;
	}

	.table th {
		vertical-align: middle;
		text-align: center;
	}

	.table tr td {
		vertical-align: middle;
	}

	.table tr td:not(:first-child) {
		text-align: center;
	}

	.table input[type=text] {
		text-align: center;
	}

	.save-row {
		margin-top: 30px;
		text-align: right;
	}
</style>

@if (ViewBag.Message != null)
{
	<div class="alert alert-success">
		<i class="fa fa-check"></i> Ціни успішно відредаговані
	</div>
}

@using (Html.BeginForm("Prices", "Admin", FormMethod.Post))
{
	<div class="table-responsive">
		<h3>
			<i class="fa fa-pencil"></i> &nbsp;Редагування цін
		</h3>
		<table class="table table-bordered table-hover price-table">
			<tr>
				<th>
					Газовий карбюратор" (3-є покоління)
				</th>
				<th>Ціна, $ <br />циліндричний балон від 50л</th>
				<th>
					Ціна, $<br>
					тороїдальний балон замість "запаски" 42л
				</th>
			</tr>
			<tr>
				<td>іномарки з карбюратором </td>
				<td>@Html.TextBoxFor(m => m.Carburator1) </td>
				<td>@Html.TextBoxFor(m => m.Carburator2) </td>
			</tr>
			<tr class="dark_row">
				<td>іномарки з моноінжектором </td>
				<td>@Html.TextBoxFor(m => m.MonoInjector1) </td>
				<td>@Html.TextBoxFor(m => m.MonoInjector2) </td>
			</tr>
			<tr>
				<td>іномарки з механічним інжектором </td>
				<td>@Html.TextBoxFor(m => m.MechInjector1) </td>
				<td>@Html.TextBoxFor(m => m.MechInjector2) </td>
			</tr>
			<tr class="dark_row">
				<td>іномарки з електронним (повним, стерео) інжектором </td>
				<td>@Html.TextBoxFor(m => m.ElectroInjector1) </td>
				<td>@Html.TextBoxFor(m => m.ElectroInjector2) </td>
			</tr>
			<tr>
				<td>Спеціальна ціна для AVEO, Lanos, Sens </td>
				<td>@Html.TextBoxFor(m => m.SpecialAveo1) </td>
				<td>@Html.TextBoxFor(m => m.SpecialAveo2) </td>
			</tr>
		</table>
	</div>

	<div class="table-responsive" style="margin-top: 50px;">
		<table class="table table-bordered table-hover price-table">
			<tbody>
				<tr>
					<th>
						“Газовий інжектор”<br /> (4-е покоління, розподілений вприск, EURO-4)
					</th>
					<th colspan="2">
						Ціна, $<br>
					</th>
				</tr>
				<tr>
					<td>4 циліндра </td>
					<td colspan="2">@Html.TextBoxFor(m => m.Cilinder4) </td>
				</tr>
				<tr class="dark_row">
					<td>6 циліндрів </td>
					<td colspan="2">@Html.TextBoxFor(m => m.Cilinder6) </td>
				</tr>
				<tr class="dark_row">
					<td>8 циліндрів </td>
					<td colspan="2">@Html.TextBoxFor(m => m.Cilinder8) </td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="save-row">
		<button class="btn btn-success"><i class="fa fa-floppy-o"></i> Зберегти</button>
	</div>
}

