﻿@model Avtogaz.Models.UserResponseModel

@{
	ViewBag.Title = Model.Email;
}

<div class="content">
	<div class="module">
		<div class="module-head">
			<h3>
				Лист від @Model.Name (@Model.Email)
			</h3>
		</div>
		<div class="module-body">
			@Model.Text
		</div>
	</div>

	<div class="row">
		<div class="span9 clearfix">
			@Html.ActionLink("Назад до списку", "Responses", null, new { @class="btn btn-default" })
		</div>
	</div>

</div>