﻿@model List<Avtogaz.Models.UserResponseModel>

@{
	ViewBag.Title = "Листи";
}

<div class="content">
	<div class="module message">
		<div class="module-head">
			<h3>
				Листи від користувачів
			</h3>
		</div>
		@*<div class="module-option clearfix">
				<div class="pull-left">
					<button class="btn btn-primary">
						<i class="fa fa-eye"></i>  &nbsp;Прочитати
					</button>
				</div>

				<div class="pull-right">
					<button class="btn btn-danger">
						<i class="fa fa-trash-o"></i> &nbsp;Видалити
					</button>
				</div>

			</div>*@

		<div class="module-body table">
			<table class="table table-message">
				<tbody>
					<tr class="heading">
						<td class="cell-author hidden-phone hidden-tablet">
							Ім'я
						</td>
						<td class="cell-title">
							Email
						</td>
						<td class="cell-time">
							Дата
						</td>
						<td class="cell-time align-right">
							Дії
						</td>
					</tr>
					@foreach (var letter in Model)
					{
						<tr class="@(!letter.IsRead ? "unread letter" : "letter")">
							<td class="cell-author hidden-phone hidden-tablet">
								@letter.Name
							</td>
							<td>
								@letter.Email
							</td>

							<td>
								@letter.Date.ToShortDateString()
							</td>

							<td class="align-right">
								@Html.ActionLink("Прочитати", "ReadResponse", new { @id = letter.Id }, new { @class = "btn btn-primary btn-xs button-read" })
								<a href="#" class="btn btn-danger btn-xs button-delete" data-id="@letter.Id">Видалити</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="module-foot">
		</div>
	</div>
</div>
<!--/.content-->

@section scripts
{
	<script>
		$(function () {
			$(".button-delete").click(function (e) {
				e.preventDefault();
				if (!confirm("Ви дійсно бажаєте видалити даний лист?"))
					return;

				var id = $(this).data("id");
				var row = $(this).closest(".letter");

				$.ajax({
					url: "@Url.Action("DeleteResponse", "Admin")",
					type: "POST",
					data: { id: id },
					dataType: "json",
					success: function(response) {
						if (response.success) {
							$(row).fadeOut("fast");
						} else {
							alert("Помилка при видаленні");
						}
					}
				});
			});
		})
	</script>
}