﻿@model Avtogaz.Models.ArticleModel

@{
	ViewBag.Title = Model.Title;
}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.5&appId=819248524791533";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
                <a href="@Url.Action("Index")"> Статті /</a> @Model.Title
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>

<div class="row">
    <div class="twelve columns">
        <div class="article twelve columns card-1">
            <div class="article-body">
                <div class="article-title">
                    <h2>@Model.Title</h2>
                    <hr />
                </div>

                <div class="article-content">
                    @Html.Raw(Model.Text)
                </div>
                <div class="article-summary">
                    <div>
                        <span class="summary-text">Дата публікації: @Model.PostTime.ToShortDateString()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="fb-comments" data-width="100%" data-href="@Request.Url.AbsoluteUri" data-numposts="10"></div>
    </div>
</div>