﻿@using Avtogaz.Models
@model List<Avtogaz.Models.ArticleModel>

    @{
    ViewBag.Title = "Статті";
    }

    <div id="subheader">
        <div class="row">
            <div class="eight columns">
                <p class="bread leftalign">
                    Статті /
                </p>
            </div>
        </div>
    </div>
    <div class="hr"></div>

<div class="row">

    @foreach (var article in Model)
    {
    <div class="article twelve columns card-1">
        <div class="article-body">
            <div class="article-title">
                <a href="@Url.Action("Article", "Articles", new { Id = article.Id })">
                    <h2>@article.Title</h2>
                </a>
                <hr />
            </div>

            <div class="article-content">
                @Html.Raw(article.Cut)
            </div>

            <div class="article-summary">
                <div>
                    <span class="summary-text">Дата публікації: @article.PostTime.ToShortDateString()</span>
                </div>
            </div>

        </div>
    </div>
    }
</div>


    <div class="row" style="display: none">
        <div class="twelve columns noleftmargin">
            <!-- MAIN CONTENT -->
            <div class="eight columns">
                @if (Model.Count > 0)
                {
                foreach (var article in Model)
                {
                <div class="article">
                    <div class="title">
                        <h4>@article.Title</h4>
                        <hr />
                    </div>

                    <div class="body">
                        @Html.Raw(article.Text)
                    </div>

                    <div class="article-summary">
                        <span class="pull-left">
                            <i class="fa fa-calendar-o"></i> <strong>Дата публікації: [ 21.10.2015 ]</strong>
                        </span>

                        <span class="pull-right read-more">
                            <a href="@Url.Action(" Article")">Читати далі</a> <i class="fa fa-arrow-right"></i>
                        </span>

                    </div>
                </div>
                }
                }

                @*<ul class="pagination">
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    <li class="current"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                    <li><a href="">12</a></li>
                    <li><a href="">13</a></li>
                    <li class="arrow"><a href="">&raquo;</a></li>
                </ul>*@
            </div>

            <style>
                .faq-item a {
                    color: #579396;
                }
            </style>

            <!-- SIDEBAR -->
            <div class="four columns">
                <div class="sidebar-last-comments">
                    <h6 class="sidebartitle">КОРИСНО ЗНАТИ</h6>
                    @foreach (var faq in (List<FaqItem>
                        ) ViewBag.Faqs)
                        {
                        <div class="sidebar-comment">
                            <p class="faq-item">
                                <a href="@Url.Action(" FAQ","Home")#@faq.Id">@faq.Title</a>
                            </p>
                        </div>
                        }
                        <br class="clear" />
                </div>
            </div>
        </div>
    </div>
